@use 'cart';
@use 'checkout';
@use 'footer';
@use 'header';
@use 'store';
@use 'toast';

// General Styles

body {
    font-family: "SF Display Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
